@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

/* upload */
form{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(52, 52, 51);
}